:root {
    --toastify-color-progress-dark: #55545D;
}

.Toastify__progress-bar--wrp {
    top: 0 !important;
    bottom: initial !important;
    border-radius: 0 !important;
    height: 1px !important;
}
