@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black
}

#storybook-root {
    @apply w-full h-auto flex justify-center
}

.flex-center {
    @apply flex items-center justify-center
}

.flex-center-v {
    @apply flex items-center
}

.flex-center-h {
    @apply flex justify-center
}

.flex-between {
    @apply flex items-center justify-between
}

.layout {
    border-radius: 2955px;
    width: 2955px;
    height: 2955px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    background: radial-gradient(43.89% 43.89% at 46.57% 28.72%, rgba(0, 254, 208, 0.40) 0%, rgba(122, 16, 197, 0.40) 26.62%, rgba(17, 4, 20, 0.00) 100%);
}
