@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradiant-body min-h-screen
}

#storybook-root {
    @apply w-full h-auto flex justify-center
}

.flex-center {
    @apply flex items-center justify-center
}

.flex-center-v {
    @apply flex items-center
}

.flex-center-h {
    @apply flex justify-center
}

.flex-between {
    @apply flex items-center justify-between
}

.border-primary-gradiant {
    @apply bg-gradient-to-r from-primary-400 to-primary-800 p-px
}

.swiper-slide {
    display: flex;
    background: #eee;
    align-items: center;
    justify-content: center;
    transition: all 300ms linear;
    transform: scale(calc(190 / 212)) !important;

    &.swiper-slide-active {
        transform: scale(1) !important;
        background: #fc0
    }
}


